@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maven-Pro";
  font-weight: 400;
  src: url('/fonts/MavenPro-Regular.ttf');
}

@font-face {
  font-family: "Maven-Pro";
  font-weight: 500;
  src: url('/fonts/MavenPro-Medium.ttf');
}

@font-face {
  font-family: "Maven-Pro";
  font-weight: 600;
  src: url('/fonts/MavenPro-SemiBold.ttf');
}

@font-face {
  font-family: "Maven-Pro";
  font-weight: 700;
  src: url('/fonts/MavenPro-Bold.ttf');
}


@layer base {

  html {
    font-size: 16px;
  }

  @media (max-width: 1390px) {
    html {
      font-size: 15px;
    }
  }

  @media (max-width: 1273px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 1023px) {
    html {
      font-size: 16px;
    }
  }

  body {
    font-family: "Maven-Pro";
  }


  /* typography */
  .w-text-display-mobile {
    @apply text-[2.125rem] font-bold;
  }

  .w-text-display-4 {
    @apply text-[3.125rem] font-bold;
  }

  .w-text-display-3 {
    @apply text-[2.5rem] font-bold
  }

  .w-text-display-2 {
    @apply text-[2rem] font-bold;
  }

  .w-text-display-1 {
    @apply text-[1.875rem] font-bold;
  }

  .w-text-headline-2 {
    @apply text-[1.75rem] font-semibold;
  }

  .w-text-headline-1 {
    @apply text-[1.5rem] font-semibold;
  }

  .w-text-title-2 {
    @apply text-[1.375rem] font-medium;
  }

  .w-text-title-1 {
    @apply text-[1.25rem] font-medium;
  }

  .w-text-subhead-2 {
    @apply text-[1.125rem] font-bold;
  }

  .w-text-subhead-1 {
    @apply text-[1rem] font-medium;
  }

  .w-text-body-2 {
    @apply text-[1rem];
  }

  .w-text-body-1 {
    @apply text-[0.875rem];
  }

  .w-text-caption {
    @apply text-[0.75rem];
  }

  .w-text-button {
    @apply text-[0.875rem] font-medium;
  }

  .w-text-caption-mobile {
    @apply text-[0.625rem];
  }

  /* utility */
  .trapezium-corner-tr-bl {
    clip-path:
      polygon(0% 0,
        /* top left */
        0px 0%,
        /* top left */
        calc(100% - 45px) 0%,
        /* top right */
        100% 45px,
        /* top right */
        100% 100%,
        /* bottom right */
        100% 100%,
        /* bottom right */
        45px 100%,
        /* bottom left */
        0 calc(100% - 45px)
        /* bottom left */
      );
  }

  ul.breadcrumb {
    list-style: none;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 0.875rem;
    font-weight: 500;
    color: #141414;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #141414;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    color: #141414;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    text-decoration: underline;
  }

  .zoom:hover {
    transform: scale(1.1);

    transition: transform 0.5s;
  }

  .fade-in {
    animation: fadeIn 1s;
  }

  .line {
    flex: 1;
    min-width: 50px;
    height: 2px;
    background-color: #FEFFFF;
  }

  .slideUp-entering,
  .slideUp-exiting {
    opacity: 0;
    transform: translateY(20px);
    /* Adjust the value as needed */
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .slideUp-entered,
  .slideUp-exited {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}